<div class="user-auth">
  <div *ngIf="!showLogin" class="user-signup">
    <h1>User Sign-up</h1>
    <form #userSignUp="ngForm" class="common-form" (ngSubmit)="signUp(userSignUp.value)">
      <input class="form-input" type="text" ngModel name="name" id="" placeholder="Enter User Name">
      <input class="form-input" type="text" ngModel name="email" id="" placeholder="Enter User Email">
      <input class="form-input" type="password" ngModel name="password" id="" placeholder="Enter User Password">

      <button class="form-button">Sign Up</button>
      <p>Already Have Account ? <a (click)="openLogin()">Click Here</a></p>
    </form>
  </div>
</div>
<div *ngIf="showLogin" class="user-login">
  <div class="user-auth">
  <h1>User Login</h1>
  <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)"> 
    <p class="error-p">{{authError}}</p>
    <input class="form-input"
      type="text" ngModel name="email" id="" placeholder="Enter User Email" #email="ngModel" required email>
      <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please Enter A Valid Value</span></p>
    <input class="form-input" type="password" ngModel name="password" id="" placeholder="Enter User Password" #password="ngModel" required minlength="2" maxlength="20">
    <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please Enter A Valid Value</span></p>
    <button [disabled]="userLogin.invalid" class="form-button">Login</button>
    <p>Want To Create Account ? <a (click)="openSignUp()">Click Here</a></p>
  </form>
</div>
</div>